<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <h1> Buster's Best Bowling Alley</h1>
    <h2> Bet You Can't Bowl A Strike Every Time</h2>
    <p> 97 Bowling Alley Lane, Boulder CO </p>
    <!-- <h1><%= "I love " + "Ruby!!" %></h1> -->
    <!-- <% if 1 == 2 %>
      <p>1 equals 2.</p>
    <% else %>
      <p>1 does not equal 2.</p>
    <% end %> -->
    <!-- <% if logged_in? %>
      <a href="/logout">Click here to Log Out</a>
    <% else %>
      <a href="/login">Click here to Log In</a>
    <% end %> -->
    <!-- <ul>
      <% squares = [1, 4, 9, 16] %>
      <% squares.each do |square| %>
        <li><%= square %></li>
      <% end %>
    </ul> -->
  </body>
</html>
